<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Use "development" for local testing, use "release-testing" for TestFlight releases -->

	<!-- <key>method</key>
    <string>development</string>
    <key>provisioningProfiles</key>
	<dict>
		<key>com.impierce.identity-wallet</key>
		<string>UniMe Beta - Daniel's Development Profile</string>
	</dict> -->

    <key>method</key>
	<string>release-testing</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.impierce.identity-wallet</key>
		<string>UniMe Beta - Distribution Profile</string>
	</dict>
</dict>
</plist>
