@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  /* Define safe area inset variables to allow overriding in dev. */
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);

  /* Uncomment to simulate safe area insets for iPhone 13 Pro. */
  /* --safe-area-inset-top: 47px;
  --safe-area-inset-bottom: 34px; */

  --color-brand: #5cc7c7; /* "Primary" */
  --color-text: var(--color-slate-800);
  --color-text-alt: var(--color-slate-500);
  --color-background: #f9f9f9; /* "Silver" */
  --color-background-alt: var(--color-white);
}

.dark {
  --color-text: #efefef; /* "Grey" */
  --color-text-alt: var(--color-slate-400);
  --color-background: #1e3959; /* "Navy" */
  --color-background-alt: #13243d; /* "Dark" */
}

@theme {
  --font-sans: Inter, sans-serif;

  /* Semantic color definitions. */
  --color-brand: var(--color-brand);
  --color-text: var(--color-text);
  --color-text-alt: var(--color-text-alt);
  --color-background: var(--color-background);
  --color-background-alt: var(--color-background-alt);

  /* Legacy color definitions. */
  /* Accent */
  --color-primary: #5cc7c7;
  --color-secondary: #50b5b2;

  /* Light */
  --color-silver: #f9f9f9;
  --color-grey: #efefef;

  /* Dark */
  --color-navy: #1e3959;
  --color-blue: #152d49;
  --color-dark: #13243d;

  /* Extended */
  --color-ex-blue-1: #eaf4f4;
  --color-ex-blue-2: #d4eded;
  --color-ex-blue-3: #b9cfd0;
  --color-ex-grey-1: #5b676b;
  --color-ex-grey-2: #323b40;
  --color-ex-grey-3: #171d23;

  --color-credentials-0: #d7e0cc; /* green */
  --color-credentials-1: #e3d1b6; /* gold */
  --color-credentials-2: #afcbdd; /* blue */
  --color-credentials-3: #acb7e2; /* purple */
  --color-credentials-4: #c6d3d8; /* gray */
  --color-credentials-5: #dddcf1; /* purple */
  --color-credentials-6: #d9cadd; /* red */
  --color-credentials-7: #c9d9d0; /* green */
}

@utility hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  /* Font: Inter. */
  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/inter/inter-v18-latin-100.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 100;
    src: url('/fonts/inter-v18-latin-100italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/inter/inter-v18-latin-200.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 200;
    src: url('./fonts/inter/inter-v18-latin-200italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/inter/inter-v18-latin-300.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 300;
    src: url('./fonts/inter/inter-v18-latin-300italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter/inter-v18-latin-regular.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/inter/inter-v18-latin-italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/inter/inter-v18-latin-500.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 500;
    src: url('./fonts/inter/inter-v18-latin-500italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/inter/inter-v18-latin-600.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 600;
    src: url('./fonts/inter/inter-v18-latin-600italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/inter/inter-v18-latin-700.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: url('./fonts/inter/inter-v18-latin-700italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/inter/inter-v18-latin-800.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 800;
    src: url('./fonts/inter/inter-v18-latin-800italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/inter/inter-v18-latin-900.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 900;
    src: url('./fonts/inter/inter-v18-latin-900italic.woff2') format('woff2');
  } */

  html {
    -webkit-tap-highlight-color: transparent; /* Removes a flashing highlight box on tap */
    -webkit-font-smoothing: antialiased;
  }

  body {
    /* Globally disables any text to be selectable by the user */
    user-select: none;
  }
}
