@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face { */
  /* font-family: 'Satoshi-Variable';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2'); */
  /* font-family: 'Inter-Variable';
    src: url('/fonts/Inter-Variable.ttf') format('truetype'); */
  /* font-family: 'Inter'; */
  /* src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype'); */
  /* src: url('/fonts/Inter.var.woff2') format('woff2'); */
  /* } */

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter-Light.ttf') format('truetype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/static/Inter-Black.ttf') format('truetype');
    font-weight: 900;
  }

  html {
    -webkit-tap-highlight-color: transparent; /* Removes a flashing highlight box on tap */
    -webkit-font-smoothing: antialiased;
  }

  /* h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  } */

  h3 {
    @apply text-lg font-semibold;
  }
}

/* h3 {
  @apply text-lg font-semibold;
} */

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* iOS specific styling, https://github.com/tauri-apps/tauri/issues/6961 */
body {
  /* padding-top: env(safe-area-inset-top); */
  /* padding-bottom: env(safe-area-inset-bottom); */
  padding: var(--safe-area-inset-top) env(safe-area-inset-right) var(--safe-area-inset-bottom) env(safe-area-inset-left);
  /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
    env(safe-area-inset-left); */
  height: 100vh;
  width: 100vw;
  /* Blue 700 */
  /* background-color: #1d4ed8; */
  /* overflow: hidden; */
  /* Cuts off all overflowing content on the x-axis */
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* max-width: 100%; */
  /* Globally disables any text to be selectable by the user */
  user-select: none;
}

.transparent {
  background-color: transparent;
}

:root {
  /* TODO: development: using variables for easier testing, production: replace var() --> env()? */
  --safe-area-inset-top: env(safe-area-inset-top);
  --safe-area-inset-bottom: env(safe-area-inset-bottom);

  /* TODO: testing: uncomment to simulate safe areas on iOS */
  /* iPhone 13 Pro */
  /* --safe-area-inset-top: 47px;
  --safe-area-inset-bottom: 34px; */
}

.safe-area-top {
  position: fixed;
  top: 0px;
  height: var(--safe-area-inset-top);
  width: 100%;
}

.safe-area-bottom {
  position: fixed;
  bottom: 0px;
  height: var(--safe-area-inset-bottom);
  width: 100%;
}

/**
 * TODO (when supporting landscape orientation):
 * https://kulturbanause.de/blog/websites-fuer-das-iphone-x-optimieren-weisse-balken-entfernen-viewport-anpassen-safe-area-festlegen/
*/
