@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Font: Inter. */
  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/inter/inter-v18-latin-100.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 100;
    src: url('/fonts/inter-v18-latin-100italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/inter/inter-v18-latin-200.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 200;
    src: url('./fonts/inter/inter-v18-latin-200italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/inter/inter-v18-latin-300.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 300;
    src: url('./fonts/inter/inter-v18-latin-300italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter/inter-v18-latin-regular.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/inter/inter-v18-latin-italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/inter/inter-v18-latin-500.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 500;
    src: url('./fonts/inter/inter-v18-latin-500italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/inter/inter-v18-latin-600.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 600;
    src: url('./fonts/inter/inter-v18-latin-600italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/inter/inter-v18-latin-700.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    src: url('./fonts/inter/inter-v18-latin-700italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/inter/inter-v18-latin-800.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 800;
    src: url('./fonts/inter/inter-v18-latin-800italic.woff2') format('woff2');
  } */

  @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/inter/inter-v18-latin-900.woff2') format('woff2');
  }

  /* @font-face {
    font-family: 'Inter';
    font-display: swap;
    font-style: italic;
    font-weight: 900;
    src: url('./fonts/inter/inter-v18-latin-900italic.woff2') format('woff2');
  } */

  :root {
    /* Define safe area inset variables to allow overriding in dev. */
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);

    /* Uncomment to simulate safe area insets for iPhone 13 Pro. */
    /* --safe-area-inset-top: 47px;
    --safe-area-inset-bottom: 34px; */

    /* Colors for light theme (will be fed into `rgb` function). */
    --color-brand: 92 199 199; /* #5cc7c7 */
    --color-text: 30 41 59; /* Tailwind Slate 800 (#1e293b) */
    --color-text-alt: 100 116 139; /* Tailwind Slate 500 (#64748b) */
    --color-background: 255 255 255; /* #ffffff */
    --color-background-alt: 249 249 249; /* #f9f9f9 */
  }

  .dark {
    /* Colors for dark theme. */
    --color-text: 239 239 239; /* #efefef */
    --color-text-alt: 148 163 184; /* Tailwind Slate 400 (#94a3b8) */
    --color-background: 19 36 61; /* #13243d */
    --color-background-alt: 30 57 89; /* #1e3959 */
  }

  html {
    -webkit-tap-highlight-color: transparent; /* Removes a flashing highlight box on tap */
    -webkit-font-smoothing: antialiased;
  }

  body {
    /* Globally disables any text to be selectable by the user */
    user-select: none;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .transparent {
    background-color: transparent;
  }
}
