DEV_MODE_ENABLED=false
LOG_STATE_UPDATES_TO_CONSOLE=false
PUBLIC_DEV_MODE_MENU_EXPANDED=false
FEATURE_USER_JOURNEYS_ENABLED=false
PUBLIC_STYLE_SAFE_AREA_INSETS=false
PUBLIC_DEV_SHOW_CURRENT_ROUTE=false
