# .gitignore specific to /unime
node_modules
/build
/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/coverage

# Environment variables
.env
.env.*
!.env.example

# Remove after debug config in repository root works
.vscode/**
