@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Satoshi-Variable';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* iOS specific styling, https://github.com/tauri-apps/tauri/issues/6961 */
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  height: 100vh;
  background-color: #1d4ed8; /* Blue 700 */
  overflow: hidden; /* disables scrolling */
}
