@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Satoshi-Variable';
    src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* iOS specific styling, https://github.com/tauri-apps/tauri/issues/6961 */
body {
  /* padding-top: env(safe-area-inset-top); */
  /* padding-bottom: env(safe-area-inset-bottom); */
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  height: 100vh;
  width: 100vw;
  /* Blue 700 */
  /* background-color: #1d4ed8; */
  overflow: hidden; /* disables scrolling */
}

.transparent {
  background-color: transparent;
}

:root {
  --safe-area-inset-bottom: 24px; /* TODO: testing only, rather use env() */
}

/**
 * TODO (when supporting landscape orientation):
 * https://kulturbanause.de/blog/websites-fuer-das-iphone-x-optimieren-weisse-balken-entfernen-viewport-anpassen-safe-area-festlegen/
*/
